<mat-form-field class="type">
  <mat-label i18n>maximaler Multiplikator</mat-label>
  <mat-select [(value)]="type">
    <mat-option [value]="typeEnum.SQRT" i18n>Wurzel aus maximalem Produkt</mat-option>
    <mat-option [value]="typeEnum.HALF_OF_PRODUCT" i18n>Hälfte des maximalen Produkts</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="maxProduct">
  <mat-label i18n>maximales Produkt</mat-label>
  <mat-select [(value)]="maxProduct">
    <mat-option [value]="20" i18n>bis 20</mat-option>
    <mat-option [value]="30" i18n>bis 30</mat-option>
    <mat-option [value]="40" i18n>bis 40</mat-option>
    <mat-option [value]="50" i18n>bis 50</mat-option>
    <mat-option [value]="60" i18n>bis 60</mat-option>
    <mat-option [value]="70" i18n>bis 70</mat-option>
    <mat-option [value]="80" i18n>bis 80</mat-option>
    <mat-option [value]="90" i18n>bis 90</mat-option>
    <mat-option [value]="100" i18n>bis 100</mat-option>
    <mat-option [value]="1000" i18n>bis 1.000</mat-option>
    <mat-option [value]="10000" i18n>bis 10.000</mat-option>
    <mat-option [value]="100000" i18n>bis 100.000</mat-option>
    <mat-option [value]="1000000" i18n>bis 1.000.000</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="excludedNumbers">
  <mat-label i18n>Auszuschließende Zahlen</mat-label>
  <mat-chip-grid #excludedNumberInput [disabled]="transgression > 0">
    <mat-chip-row *ngFor="let excludedNumber of exclusions" (removed)="removeExclusion(excludedNumber)">
      {{excludedNumber}}
      <button matChipRemove>
        <fa-icon icon="times"></fa-icon>
      </button>
    </mat-chip-row>
    <input placeholder="auszuschließende Zahl..."
           i18n-placeholder
           type="number"
           matTooltip="Zahl eingeben und mit Enter oder Komma bestätigen"
           i18n-matTooltip
           [matChipInputFor]="excludedNumberInput"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="addExclusion($event)">
  </mat-chip-grid>
</mat-form-field>
<mat-form-field class="fixedMultiplicands">
  <mat-label i18n>Multiplikand eingrenzen</mat-label>
  <mat-chip-grid #fixedMultiplicandInput [disabled]="maxProduct < 100 || transgression > 0">
    <mat-chip-row *ngFor="let fixedMultiplicand of fixedMultiplicands" (removed)="removeFixedMultiplicand(fixedMultiplicand)">
      {{fixedMultiplicand}}
      <button matChipRemove>
        <fa-icon icon="times"></fa-icon>
      </button>
    </mat-chip-row>
    <input placeholder="einzugrenzender Multiplikand..."
           i18n-placeholder
           type="number"
           matTooltip="Zahl eingeben und mit Enter oder Komma bestätigen"
           i18n-matTooltip
           [matChipInputFor]="fixedMultiplicandInput"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="addFixedMultiplicand($event)">
  </mat-chip-grid>
</mat-form-field>
<section class="transgression">
  <mat-checkbox [checked]="transgression !== -1" (change)="changeUnlimitedTransgression($event)" [disabled]="maxProduct < 100 || maxProduct > 100000" i18n>Überschreitungen eingrenzen</mat-checkbox>
  <section [hidden]="transgression === -1">
    <ul class="transgression-choices">
      <li>
        <mat-checkbox i18n [checked]="isTransgression(ONE)" (change)="setTransgression(ONE)">
          Einerstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxProduct < 100" i18n [checked]="isTransgression(TEN)" (change)="setTransgression(TEN)">
          Zehnerstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxProduct < 1000" i18n [checked]="isTransgression(HUNDRED)" (change)="setTransgression(HUNDRED)">
          Hunderterstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxProduct < 10000" i18n [checked]="isTransgression(THOUSAND)" (change)="setTransgression(THOUSAND)">
          Tausenderstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxProduct < 100000" i18n [checked]="isTransgression(TENTHOUSAND)" (change)="setTransgression(TENTHOUSAND)">
          Zehntausenderstelle
        </mat-checkbox>
      </li>
    </ul>
  </section>
</section>
