mat-form-field.maxProduct {
  width: 160px;
}

mat-form-field.excludedNumbers,
mat-form-field.fixedMultiplicands {
  width: 230px;
  padding-left: 20px;

  @media (max-width: 469px) {
    padding-left: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}
