<mat-form-field class="minSum">
  <mat-label i18n>minimale Summe</mat-label>
  <mat-select [(value)]="minSum" [disabled]="transgression > -1">
    <mat-option [value]="0">0</mat-option>
    <mat-option [value]="10" [disabled]="maxSum < 20">10</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="maxSum">
  <mat-label i18n>maximale Summe</mat-label>
  <mat-select [(value)]="maxSum">
    <mat-option [value]="5" i18n>bis 5</mat-option>
    <mat-option [value]="10" i18n>bis 10</mat-option>
    <mat-option [value]="20" i18n>bis 20</mat-option>
    <mat-option [value]="30" i18n>bis 30</mat-option>
    <mat-option [value]="40" i18n>bis 40</mat-option>
    <mat-option [value]="50" i18n>bis 50</mat-option>
    <mat-option [value]="60" i18n>bis 60</mat-option>
    <mat-option [value]="70" i18n>bis 70</mat-option>
    <mat-option [value]="80" i18n>bis 80</mat-option>
    <mat-option [value]="90" i18n>bis 90</mat-option>
    <mat-option [value]="100" i18n>bis 100</mat-option>
    <mat-option [value]="1000" i18n>bis 1.000</mat-option>
    <mat-option [value]="10000" i18n>bis 10.000</mat-option>
    <mat-option [value]="100000" i18n>bis 100.000</mat-option>
    <mat-option [value]="1000000" i18n>bis 1.000.000</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="secondAddendRounding">
  <mat-label i18n>Addend 2 gerundet auf</mat-label>
  <mat-select [(value)]="secondAddendRounding" [disabled]="maxSum <= 20">
    <mat-option [value]="1" i18n>ganze Zahlen</mat-option>
    <mat-option [value]="10" i18n>ganze Zehner (10, 20, ...)</mat-option>
    <mat-option [value]="100" [disabled]="maxSum <= 100" i18n>ganze Hunderter (100, 200, ...)</mat-option>
    <mat-option [value]="1000" [disabled]="maxSum <= 1000" i18n>ganze Tausender (1.000, 2.000, ...)</mat-option>
  </mat-select>
</mat-form-field>
<mat-slide-toggle class="includeZeroOnOperand"
                  [checked]="includeZeroOnOperand"
                  [disabled]="secondAddendRounding > 1"
                  (change)="toggleIncludeZeroOnOperand($event)"
                  i18n>
  0 als Operand zulassen?
</mat-slide-toggle>
<mat-form-field class="transgression">
  <mat-label i18n>Überschreitung</mat-label>
  <mat-select [(value)]="transgression" [disabled]="maxSum < 20 || maxSum > 10000 || secondAddendRounding > 1">
    <mat-option [value]="-1" i18n>Überschreitungen an allen Stellen möglich</mat-option>
    <mat-option [value]="0" [disabled]="maxSum < 20" i18n>ohne Überschreitungen</mat-option>
    <mat-option [value]="2" [disabled]="maxSum < 100" i18n>mit Überschreitung der Zehnerstelle</mat-option>
    <mat-option [value]="4" [disabled]="maxSum < 1000" i18n>mit Überschreitung der Hunderterstelle</mat-option>
    <mat-option [value]="5" [disabled]="maxSum < 1000" i18n>mit Überschreitung der Hunderter- oder Einerstelle</mat-option>
    <mat-option [value]="6" [disabled]="maxSum < 1000" i18n>mit Überschreitung der Hunderter- oder Zehnerstelle</mat-option>
    <mat-option [value]="8" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausenderstelle</mat-option>
    <mat-option [value]="9" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausender- oder Einerstelle</mat-option>
    <mat-option [value]="10" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausender- oder Zehnerstelle</mat-option>
    <mat-option [value]="11" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausender-, Zehner- oder Einerstelle</mat-option>
    <mat-option [value]="12" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausender- oder Hunderterstelle</mat-option>
    <mat-option [value]="13" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausender-, Hunderter- oder Einerstelle</mat-option>
    <mat-option [value]="14" [disabled]="maxSum < 10000" i18n>mit Überschreitung der Tausender-, Hunderter- oder Zehnerstelle</mat-option>
  </mat-select>
</mat-form-field>
