<div class="container">
  <nav>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{ title }}</span>
        <span class="spacer"></span>
        <app-theme-switcher [themes]="themes$ | async" (themeChange)="changeTheme($event)"></app-theme-switcher>
      </mat-toolbar-row>
    </mat-toolbar>
  </nav>
  <main>
    <mat-form-field class="className">
      <mat-label i18n>Klassenname</mat-label>
      <input matInput [(ngModel)]="calculationProperties.subheader" autofocus>
    </mat-form-field>

    <div class="operator">
      <div>
        <mat-button-toggle [value]="ADD" (change)="toggleButton($event)" i18n>Addition</mat-button-toggle>
      </div>
      <app-addition-options [hidden]="notChecked(ADD)"
                            [(properties)]="calculationProperties.additionProperties"></app-addition-options>
    </div>

    <div class="operator">
      <div>
        <mat-button-toggle [value]="SUBTRACT" (change)="toggleButton($event)" i18n>Subtraktion</mat-button-toggle>
      </div>
      <app-subtraction-options [hidden]="notChecked(SUBTRACT)"
                               [(properties)]="calculationProperties.subtractionProperties"></app-subtraction-options>
    </div>

    <div class="operator">
      <div>
        <mat-button-toggle [value]="MULTIPLY" (change)="toggleButton($event)" i18n>Multiplikation</mat-button-toggle>
      </div>
      <app-multiplication-options [hidden]="notChecked(MULTIPLY)"
                                  [(properties)]="calculationProperties.multiplicationProperties"></app-multiplication-options>
    </div>

    <div class="operator">
      <div>
        <mat-button-toggle [value]="DIVIDE" (change)="toggleButton($event)" i18n>Division</mat-button-toggle>
      </div>
      <app-division-options [hidden]="notChecked(DIVIDE)"
                            [(properties)]="calculationProperties.divisionProperties"></app-division-options>
    </div>

    <div style="padding-top: 20px">
      <mat-slide-toggle [(ngModel)]="calculationProperties.toggleHide">
        <span i18n>zufällig Operand2 und Resultat ausblenden</span>
        <span class="exceptionToggle" i18n>(ausgenommen Division)</span>
      </mat-slide-toggle>
    </div>

    <div style="padding-top: 20px">
      <mat-slide-toggle [(ngModel)]="calculationProperties.verticalDisplay" i18n>
        Addition/Subtraktion untereinander darstellen
      </mat-slide-toggle>
    </div>

    <mat-form-field class="numberOfCalculations">
      <mat-label i18n>Anzahl an Aufgaben</mat-label>
      <mat-select [(ngModel)]="calculationProperties.numberOfCalculations">
        <mat-option [value]="5">5</mat-option>
        <mat-option [value]="10">10</mat-option>
        <mat-option [value]="15">15</mat-option>
        <mat-option [value]="20">20</mat-option>
        <mat-option [value]="25">25</mat-option>
        <mat-option [value]="30">30</mat-option>
        <mat-option [value]="35">35</mat-option>
        <mat-option [value]="40">40</mat-option>
        <mat-option [value]="45">45</mat-option>
        <mat-option [value]="50">50</mat-option>
        <mat-option [value]="55">55</mat-option>
        <mat-option [value]="60">60</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="outputFormat">
      <mat-label i18n>Ausgabeformat</mat-label>
      <mat-select [(ngModel)]="fileEnding">
        <mat-option [value]="'pdf'">Adobe PDF</mat-option>
        <mat-option [value]="'docx'">Microsoft Word</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="padding-top: 20px; padding-bottom: 5px">
      <button mat-raised-button class="generateButton" [disabled]="generateButtonDisable()" (click)="generate()" i18n>
        Generieren
      </button>
    </div>
  </main>
</div>
