<!doctype html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Calcmaster</title>
  <base href="/" th:href="@{/}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="/webjars/fonts/roboto.css" th:href="@{/webjars/fonts/roboto.css}" rel="stylesheet">
  <link href="/webjars/fonts/material-icons.css" th:href="@{/webjars/fonts/material-icons.css}" rel="stylesheet">
</head>
<body class="mat-typography mat-app-background">
<app-root></app-root>
</body>
</html>
