<mat-form-field class="minDifference">
  <mat-label i18n>minimale Differenz</mat-label>
  <mat-select [(value)]="minDifference" [disabled]="transgression > -1">
    <mat-option [value]="0">0</mat-option>
    <mat-option [value]="10" [disabled]="maxDifference < 20">10</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="maxDifference">
  <mat-label i18n>maximale Differenz</mat-label>
  <mat-select [(value)]="maxDifference">
    <mat-option [value]="5" i18n>bis 5</mat-option>
    <mat-option [value]="10" i18n>bis 10</mat-option>
    <mat-option [value]="20" i18n>bis 20</mat-option>
    <mat-option [value]="30" i18n>bis 30</mat-option>
    <mat-option [value]="40" i18n>bis 40</mat-option>
    <mat-option [value]="50" i18n>bis 50</mat-option>
    <mat-option [value]="60" i18n>bis 60</mat-option>
    <mat-option [value]="70" i18n>bis 70</mat-option>
    <mat-option [value]="80" i18n>bis 80</mat-option>
    <mat-option [value]="90" i18n>bis 90</mat-option>
    <mat-option [value]="100" i18n>bis 100</mat-option>
    <mat-option [value]="1000" i18n>bis 1.000</mat-option>
    <mat-option [value]="10000" i18n>bis 10.000</mat-option>
    <mat-option [value]="100000" i18n>bis 100.000</mat-option>
    <mat-option [value]="1000000" i18n>bis 1.000.000</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field class="subtrahendRounding">
  <mat-label i18n>Subtrahend gerundet auf</mat-label>
  <mat-select [(value)]="subtrahendRounding" [disabled]="maxDifference <= 20">
    <mat-option [value]="1" i18n>ganze Zahlen</mat-option>
    <mat-option [value]="10" i18n>ganze Zehner (10, 20, ...)</mat-option>
    <mat-option [value]="100" [disabled]="maxDifference <= 100" i18n>ganze Hunderter (100, 200, ...)</mat-option>
    <mat-option [value]="1000" [disabled]="maxDifference <= 1000" i18n>ganze Tausender (1.000, 2.000, ...)</mat-option>
  </mat-select>
</mat-form-field>
<mat-slide-toggle class="includeZeroOnOperand"
                  [checked]="includeZeroOnOperand"
                  [disabled]="subtrahendRounding > 1 || transgression > -1"
                  (change)="toggleIncludeZeroOnOperand($event)"
                  i18n>
  0 als Operand zulassen?
</mat-slide-toggle>
<section class="transgression">
  <mat-checkbox [checked]="transgression !== -1" (change)="changeUnlimitedTransgression($event)" [disabled]="maxDifference < 20 || maxDifference > 100000 || subtrahendRounding > 1" i18n>
    Unterschreitungen eingrenzen
  </mat-checkbox>
  <section [hidden]="transgression === -1">
    <ul class="transgression-choices">
      <li>
        <mat-checkbox [checked]="isTransgression(ONE)" (change)="setTransgression(ONE)" i18n>
          Einerstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxDifference < 100" [checked]="isTransgression(TEN)" (change)="setTransgression(TEN)" i18n>
          Zehnerstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxDifference < 1000" [checked]="isTransgression(HUNDRED)" (change)="setTransgression(HUNDRED)" i18n>
          Hunderterstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxDifference < 10000" [checked]="isTransgression(THOUSAND)" (change)="setTransgression(THOUSAND)" i18n>
          Tausenderstelle
        </mat-checkbox>
      </li>
      <li>
        <mat-checkbox [disabled]="maxDifference < 100000" [checked]="isTransgression(TENTHOUSAND)" (change)="setTransgression(TENTHOUSAND)" i18n>
          Zehntausenderstelle
        </mat-checkbox>
      </li>
    </ul>
  </section>
</section>
