mat-form-field.minDifference {
  width: 160px;
  @media (max-width: 469px) {
    width: 230px;
  }
}

mat-form-field.maxDifference {
  width: 170px;
  padding-left: 20px;
  @media (max-width: 469px) {
    width: 230px;
    padding-left: 0;
  }
}

mat-form-field.subtrahendRounding {
  width: 230px;
  padding-left: 20px;
  @media (max-width: 469px) {
    padding-left: 0;
  }
}

mat-slide-toggle.includeZeroOnOperand {
  padding-left: 20px;
  @media (max-width: 991px) {
    padding-left: 0;
    padding-bottom: 10px;
  }
}

mat-form-field.transgression {
  width: 250px;
  padding-left: 20px;
  @media (max-width: 469px) {
    padding-left: 0;
  }
}
